/* All Content */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style Rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
}

p {
    font-family: 'Titillium Web', sans-serif;
}

/* Header Style Rules */
header {
    background-color: #347928;
    color: #FFFBE6;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 3px #3a3a3a;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
}

header img {
    display: flex;
    height: 5rem;
    width: 5rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 150%;
    letter-spacing: 3px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#menu>li {
    margin-bottom: 1rem;
}

.active-page {
    border-bottom: 1px solid #3a3a3a;
}

/* Header Nav Styling */
.header-nav {
    position: absolute;
    background-color: #C0EBA6;
    color: #001F3F;
    width: 100%;
    left: 0;
    padding: 1rem 1rem 0;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Header Nav Toggle */
#nav-toggle:checked~.header-nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content Style Rules */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFBE6;
    color: #001F3F;
    /* Grows main content to fill entire viewport */
    flex: 1 0 auto;
    margin-top: 80px;
}

/* Hero Image Section */
#hero-image {
    background: url(../images/ffxi-concept-art-hero-image.jpg) no-repeat 25% 50%/cover;
    height: 90vh;
    width: 100%;
    position: relative;
}

#hero-image-text {
    position: absolute;
    bottom: 25%;
    left: 25%;
}

/* Footer Style Rules */
footer {
    background-color: #347928;
    box-shadow: 0px -3px #3a3a3a;

}


.footer-nav {
    width: 100%;
}

#footer-menu {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    list-style-type: none;
    font-size: 3rem;
}

#footer-menu li {
    text-align: center;
}

#footer-menu a {
    text-decoration: none;
    color: #FFFBE6;

}

#footer-menu img {
    max-height: 3rem;
    max-width: 3rem;
    vertical-align: text-top;
}



/* Media Query - Tablets and Larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    .header-nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background-color: transparent;


    }

    .nav-toggle-label {
        display: none;
    }

    #menu {
        display: flex;
        flex-direction: row;
    }

    #menu>li {
        padding-left: 1rem;
        margin-bottom: 0;
        font-size: 130%;
        color: #FFFBE6;
    }

    /* Main Content */

    /* Hero Image */

    #hero-image {
        background-image: url(//assets/images/ffxi-concept-art-hero-image.jpg) no-repeat center center/cover;
        max-height: 720px;
        max-width: 1200px;
        position: relative;

    }

    #hero-image-text {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #FFFBE6;
    }
}