/* All Content */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style Rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
}

p {
    font-family: 'Titillium Web', sans-serif;
}

/* Header Style Rules */
header {
    background-color: #347928;
    color: #FFFBE6;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 3px #3a3a3a;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
}

header img {
    height: 5rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 150%;
    letter-spacing: 3px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#menu>li {
    margin-bottom: 1rem;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Nav Styling */
nav {
    position: absolute;
    background-color: #C0EBA6;
    color: #001F3F;
    width: 100%;
    left: 0;
    padding: 1rem 1rem 0;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content Style Rules */
main {
    background-color: #FFFBE6;
    color: #001F3F;
    /* Grows main content to fill entire viewport */
    flex: 1 0 auto;
}

/* Footer Style Rules */
footer {
    background-color: #347928;
    color: #FFFBE6;
}

/* Media Query - Tablets and Larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav{
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
    background-color: transparent;
    
    
    }

    .nav-toggle-label{
        display: none;
    }

    #menu{
        display: flex;
        flex-direction: row;
    }

    #menu >li{
        padding-left: 1rem;
        margin-bottom: 0;
        font-size: 130%;
        color: #FFFBE6;
    }
}