/* All Content */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Titillium+Web&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style Rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
}

p {
    font-family: 'Titillium Web', sans-serif;
}

/* Header Style Rules */
header {
    background-color: #347928;
    color: #FFFBE6;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 3px #3a3a3a;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
}

.horizonvault-logo {
    display: flex;
    background: url('../images/hv-logo-blackwhite.webp') no-repeat center center / cover;
    width: 5rem;
    height: 5rem;
    transition: background-image 0.5s ease 0s;
}

/* Hides the text in the HorizonVault Logo link - this allows the logo to change colour while also maintaining ARIA accessibility standards by 
having text in the div for the screen reader to select */
.horizonvault-logo a {
    color: transparent;
}

#menu {
    font-size: 150%;
    letter-spacing: 3px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#menu>li {
    margin-bottom: 1rem;
}

#menu a {
    background-color: transparent;
    color: #001F3F;
    text-decoration: none;

}

.active-page {
    border-bottom: 1px solid #3a3a3a;
}

/* Header Nav Styling */
.header-nav {
    position: absolute;
    background-color: #C0EBA6;
    color: #001F3F;
    width: 100%;
    left: 0;
    padding: 1rem 1rem 0;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Header Nav Toggle */
#nav-toggle:checked~.header-nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content Style Rules */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFBE6;
    color: #001F3F;
    /* Grows main content to fill entire viewport */
    flex: 1 0 auto;
    margin-top: 80px;
}

/* Hero Image Section */
#hero-image {
    background: url('../images/ffxi-concept-art-hero-image.webp') no-repeat 25% 50%/cover;
    height: 90vh;
    width: 100%;
    position: relative;
}

.hero-image-text {
    position: absolute;
    bottom: 10%;
    left: 3%;
    background-color: #fffbe6af;
    font-size: 180%;
    padding: 0.3rem;
    border: 2px solid #001F3F
}

/* Centered Text for Paragraphs Div */

.paragraph-text-center {
    font-size: larger;
    text-align: center;
    padding: 1rem 2rem;
    margin: 2rem 0rem;
}

.paragraph-text-center h1 {
    font-size: 300%;
    margin-top: 1rem;
    text-align: center;
}

.paragraph-text-center a {

    text-decoration: underline;
    color: #001F3F;
}

/* Hidden Heading for Introduction Section */

.hidden-heading {
    display: none;
}

/* Styles for the About HorizonXI Section */

#about-horizon h2 {
    font-size: 200%;
    text-align: center;
}

/* Starter Quest Page Styles */

/* Table Formating for Starter Quests Page */

.starting-city-table {
    display: none;
}

.quests-table {
    display: none;
}

/* Beginner Tips Page Styles */
.general-tips-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    margin: 1rem;

}


/* "Card Tip Left" Stylings */
.card-tip-left {
    border: 2px solid #001F3F;
    border-radius: 5px;
    background-color: #001F3F;
    color: #FFFBE6;
    text-align: center;
    max-width: 350px;
    align-self: flex-start;
    margin-left: 1rem;
    margin-right: 30%;
}

/* "Card Tip Right" Stylings */
.card-tip-right {
    border: 2px solid #001F3F;
    border-radius: 5px;
    text-align: center;
    max-width: 350px;
    align-self: flex-end;
    margin-right: 1rem;
    margin-left: 30%;
}

/* Mutual "Card Tip" Stylings */

.card-tip-left h2~p,
.card-tip-right h2~p {
    padding: 0.2rem 1rem;
}

.card-tip-left hr,
.card-tip-right hr {
    margin: 0 1rem;
}


/* Contact Us Page Styles */

.form-container {
    display: flex;
    color: #001F3F;
    font-family: 'Titillium Web', sans-serif;
    padding: 1rem;
}

.form-container label,
input,
textarea {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: larger;
    min-width: auto;
}

#form-submit-button {
    background-color: #001F3F;
    color: #FFFBE6;
    width: 5rem;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
}

/* Container for Reason for Contact Div to ensure that it aligns with the center of the form container div */
.textarea-container {
    display: flex;
    flex-direction: column;
}

/* Container for Submit Button Div to ensure that it aligns with the cneter of the form container div */

.submit-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Footer Style Rules */
footer {
    background-color: #347928;
    box-shadow: 0px -3px #3a3a3a;

}


.footer-nav {
    width: 100%;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    list-style-type: none;
    font-size: 3rem;
}

.footer-menu li {
    text-align: center;
    transition: background-color 0.5s ease 0s;
    padding: 0 1rem;
}

.footer-menu a {
    text-decoration: none;
    color: #FFFBE6;

}

.footer-menu img {
    height: 3rem;
    width: 3rem;
    vertical-align: text-top;
}

.footer-menu p {
    font-size: small;
}


/* Media Query - Tablets and Larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    .horizonvault-logo:hover {
        display: flex;
        background: url('../images/hv-logo-blackrainbow.webp') no-repeat center center/cover;
        height: 5rem;
        width: 5rem;

    }

    .header-nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background-color: transparent;


    }

    .nav-toggle-label {
        display: none;
    }

    #menu {
        display: flex;
        flex-direction: row;
    }

    #menu>li {
        padding-left: 1rem;
        margin-bottom: 0;
        font-size: 130%;
        color: #FFFBE6;
    }

    #menu a {
        background-color: #347928;
        color: #FFFBE6;
        text-decoration: none;
        transition: background-color 0.5s ease 0s
    }

    #menu a:hover {
        background-color: #27581e;
    }

    /* Main Content */

    /* Hero Image on Index Page */

    #hero-image {
        max-height: 720px;
        max-width: 1200px;


    }

    .hero-image-text {
        padding: 1rem;
    }

    /* Starter Quests Page */

    .starting-city-table {
        display: flex;
        justify-content: center;
    }

    .table-image {
        height: 5rem;
        width: 5rem;
    }

    #mobile-viewport-warning {
        display: none;
    }

    .quests-table {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        align-items: center;
        text-align: center;
        color: #001F3F;
        border: 2px solid #001F3F;
        font-family: 'Titillium Web', sans-serif;
    }

    .quests-table td {
        border: 1px solid #001F3F;
        padding: 3px;
        font-size: medium;
    }

    .quests-table a {
        text-decoration: underline;
        color: #001F3F;
    }

    /* Beginner Tips Page */
    .general-tips-flex {
        width: 80vw;
    }

    .card-tip-left,
    .card-tip-right {
        align-self: center;
        max-width: max-content;
    }

    /* Footer */
    .footer-menu li:hover {
        background-color: #27581e;
    }

}